/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black; /* Fundo preto */
    color: white;
}

/* Estilo da foto de fundo */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url('https://static.vecteezy.com/ti/fotos-gratis/p2/32492662-magnifico-castelo-grafico-romance-anime-manga-papel-de-parede-gratis-foto.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 3em;
    color: red;
    background-color: beige;
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Estilo do botão Start */
#startButton {
    width: 150px;
    height: 150px;
    background-image: url('https://cdn-icons-png.flaticon.com/512/5261/5261298.png');
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

/* Estilo dos modais */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fundo preto com transparência */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #001f3f; /* Azul marinho escuro */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    max-width: 500px;
}

input[type="text"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin: 10px;
    font-size: 1em;
}

button:hover {
    background-color: darkred;
}
