body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/1c/d8/af/1cd8af4d7e4020ff1079b863572dac35.jpg');
    background-size: cover; /* Faz com que a imagem cubra todo o fundo */
    background-position: center; /* Centraliza a imagem no fundo */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main-content {
    text-align: center;
    background-color: #000033; /* Azul Marinho Escuro */
    padding: 20px;
    border-radius: 8px;
    color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

#message {
    margin-bottom: 20px;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: white;
    background-color: #ff0000; /* Vermelho */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.buttons button:hover {
    background-color: #ffffff;
    color: #ff0000;
    transform: scale(1.05);
}

.transition {
    display: none; /* Inicialmente escondido */
    background-color: #000033; /* Azul Marinho Escuro */
    padding: 20px;
    border-radius: 8px;
    color: white;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#continue-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: white;
    background-color: #ff0000; /* Vermelho */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#continue-button:hover {
    background-color: #ffffff;
    color: #ff0000;
    transform: scale(1.05);
}
